%h1= @movie.title
.jumbotron
  = @movie.description
- if user_signed_in?
  %p= link_to 'Email me details about this movie', send_info_movie_path(@movie), class: 'btn btn-sm btn-default'
  - if current_user.comments.find_by(movie: @movie)
    .alert.alert-info 
      You have already commented
  - else
    =render "./comments/comment_form"

=render "comments_for_movie"